:root {
  --text-color-primary: #212121;
  --text-color-sacondary: #2196f3;
  --background-color-primary: #e5e5e5;
  --background-color-header: #ffffff;
  --text-color-white: #ffffff;
  --text-color-grey: #757575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.header a {
  text-decoration: none;
  color: var(--text-color-primary);
}

a:hover,
a:focus {
  color: var(--text-color-sacondary);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--text-color-white);
  transition: all 500ms linear 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms linear 250ms;
}
.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn svg {
  height: 30px;
}

/*________HEADER ШАПКА__________*/
.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1600px;
  height: 80px;
  justify-content: space-between;

  background: var(--text-color-white);
}

.web {
  font-family: "Raleway", sans-serif;
  color: var(--text-color-sacondary);
}

.header .webstudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  width: 145px;
  height: 31px;
  margin-top: 24px;
  margin-left: 215px;
  letter-spacing: 0.03em;
}
/*___________NAVIGATION________ */
.header .navigation {
  display: flex;
  height: 48px;
  padding-left: 0px;
  margin-top: 32px;
}

.navigation-item {
  position: relative;
  padding-left: 0px;
  height: 16px;
}
.navigation-item:not(last-child) {
  margin-right: 50px;
}
.navigation-item .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -200%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-color-sacondary);
  border-radius: 2px;
}

.navigation svg {
  height: 16px;
  width: 20px;
  margin-right: 10px;
  fill: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item:hover svg,
.navigation-item:focus svg {
  fill: var(--text-color-sacondary);
}

/* _________HERO_______ */
.hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img_hero.png);
}

.tagline {
  /* _____Эффективные решения для вашего бизнеса_____ */
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  width: 696px;
  font-size: 44px;
  line-height: 60px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-primary);
}

.button {
  /* ______BUTTON-Заказать-услугу______ */
  background: var(--text-color-sacondary);
  color: var(--background-color-header);
  border-radius: 4px;
  cursor: pointer;
}
.order {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.order a {
  text-decoration: none;
  color: var(--text-color-white);
}

.feature {
  /*  ____________Примущейства студии_____________  */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 94px;
}
.card-feature {
  width: 270px;
  height: 251px;
}
.card-feature:not(:last-child) {
  margin-right: 30px;
}
.svg-feature {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.svg-feature svg {
  width: 70px;
}

.heading {
  width: 270px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  color: var(--text-color-primary);
}

.text {
  width: 270px;
  height: 101px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.heading-workship {
  /*______WORKSHIP-Чем занимаемся______ */
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-primary);
}
.workship {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 94px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img {
  position: relative;
}
.title-workship {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  width: 370px;
  height: 70px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--background-color-primary);
  background-color: rgba(47, 48, 58, 0.8);
}

.img:not(:last-child) {
  margin-right: 30px;
}

/*_________ТЕАМ-Команда-секция_______ */
.section {
  width: 1600px;
  height: 648px;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #f5f4fa;
}
/*Наша команда*/
.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-top: 94px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-primary);
}
.team-item {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
.card {
  width: 270px;
  height: 428px;
  align-content: center;
  background-color: var(--text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* background-color: var(--background-color-header); */
}
.card:not(last-child) {
  margin-right: 30px;
}

.name {
  /*_____Имя______ */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-primary);
}
.post {
  /* ____Должность___ */
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-grey);
}

.links {
  /* _____LINKS_____ */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}
.links .social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}
.links .social-link:not(:last-child) {
  margin-right: 10px;
}
.links .social-link svg {
  width: 20px;
  fill: #afb1b8;
}
.links .social-link:hover svg,
.social-link:focus svg {
  fill: white;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--text-color-sacondary);
}

/*=======Clients======*/
.section-client {
  width: 1200px;
  height: 182px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

.regular-client {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 390px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;

  color: var(--text-color-primary);
}
.clients {
  display: flex;
  padding: 0px;
}
.card-client {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.card-client svg {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-client:not(:last-child) {
  margin-right: 30px;
}
.card-client:hover,
.card-client:focus {
  border-color: var(--text-color-sacondary);
}
.card-client:hover svg,
.card-client:focus svg {
  fill: var(--text-color-sacondary);
}

/* =======FOOTER==== */
/* ______FOOTER______ */
.footer {
  display: flex;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
}
.footer a {
  text-decoration: none;
  color: var(--text-color-white);
}
.link-title {
  width: 145px;
  height: 31px;
  padding-top: 60px;
  padding-left: 215px;
}
.adress {
  margin-top: 100px;
  padding-top: 20px;
  width: 231px;
  height: 81px;
}

.footer .webstudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
.adress-link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-color-white);
}
.join {
  /* ______Присоеденяйтесь______ */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-color-header);
}
.join-link {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 70px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
.social-list-link > .social-link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-list-link > .social-link:not(:last-child) {
  margin-right: 10px;
}
.social-list-link > .social-link svg {
  width: 20px;
  fill: #fff;
}
.social-link:hover svg,
.social-link:focus svg {
  fill: white;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--text-color-sacondary);
}

/* ==============PORTFOLIO============= */
/* ___CONTANIER FOR PORTFOLIO______ */
.contanier {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
/*____BTN____ */
.contanier a {
  text-decoration: none;
  width: 128px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  color: var(--text-color-primary);
  border-radius: 4px;
}

.list-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 94px;
  width: 790px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link a:hover,
.list-link a:focus {
  background: var(--text-color-sacondary);
  color: var(--text-color-white);
  border-radius: 4px;
}

.list-link a:not(last-child) {
  margin-right: 30px;
}

/* ________PORTFOLIO-ITEM__________ */
.contanier-card {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  padding-left: 15px;
  padding-right: 15px;
  padding-inline-start: 0px;
}
.card-item {
  position: relative;
  height: 404px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.card-item:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-item:hover .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0%);
}
.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  background: rgba(33, 150, 243, 0.9);
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.text-overlay {
  display: flex;
  align-items: center;
  width: 322px;
  height: 168px;
  margin: 63px 24px;

  font-weight: 400;
  line-height: 28px;

  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

.footer-card {
  margin-top: 20px;
  margin-left: 24px;
  flex-direction: column;
  width: 322px;
  height: 70px;
}
.name-item {
  width: 322px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.06em;

  color: var(--text-color-primary);
}
.category {
  margin-top: 4px;
  width: 322px;
  height: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.03em;

  color: var(--text-color-grey);
}
